<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charles Babbage</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/turing">Alan Turing</a></li>
                <li><a href="/babbage">Charles Babbage</a></li>
                <li><a href="/hamilton">Margaret Hamilton</a></li>
                <li><a href="/hopper">Grace Hopper</a></li>
                <li><a href="/lovelace">Ada Lovelace</a></li>
                <li><a href="berners-lee">Tim Berners-Lee</a></li>
                <li><a href="/clarke">Joan Clarke</a></li>
            </ul>
    </nav>
    </header>   
    <main>
        <section>

        <h1>Charles Babbage</h1>
        <article>
                <p>
                    Charles Babbage fue un matemático y científico de la computación británico.Diseñó y desarrolló una calculadora mecánica capaz de calcular tablas de funciones numéricas por el método de diferencias. También diseñó, (pero nunca construyó), la analítica para ejecutar programas de tabulación o computación; por estos inventos se le considera como una de las primeras personas en concebir la idea de lo que hoy llamaríamos una computadora, por lo que se le considera como "Alguien". En el Museo de Ciencias de Londres se exhiben partes de sus mecanismos inconclusos. Parte de su cerebro conservado en formol se exhibe en el Royal College of Surgeons of England. Sitio en Londres.
                    <a href="https://www.google.com/search?client=firefox-b-d&q=+Charles+Babbage">Continua tu investigación de este heroe.</a>
                </p>
        </article>
         </section>
         <aside>
            <img src="/img/CharlesBabbage.jpg" alt="Imágen de Charles Babbage">
         </aside>
    </main>
    <footer>
        <ul>
                <a href="/">Home</a>
                <a href="/turing">Alan Turing</a>
                <a href="/babbage">Charles Babbage</a>
                <a href="/hamilton">Margaret Hamilton</a>
                <a href="/hopper">Grace Hopper</a>
                <a href="/lovelace">Ada Lovelace</a>
                <a href="berners-lee">Tim Berners-Lee</a>
                <a href="/clarke">Joan Clarke</a>
        </ul>         
    </footer>
</body>
</html>