<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Margaret Hamilton</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/turing">Alan Turing</a></li>
                <li><a href="/babbage">Charles Babbage</a></li>
                <li><a href="/hamilton">Margaret Hamilton</a></li>
                <li><a href="/hopper">Grace Hopper</a></li>
                <li><a href="/lovelace">Ada Lovelace</a></li>
                <li><a href="berners-lee">Tim Berners-Lee</a></li>
                <li><a href="/clarke">Joan Clarke</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>

            <h1>Margaret Hamilton</h1>
            <article>
                <p>
                    Margaret Hamilton (Paoli, Indiana, 17 de agosto de 1936) es una científica computacional, matemática
                    e ingeniera de Software estadounidense.
                    En 1960 entró a trabajar en el Departamento de Meteorología del Instituto Tecnológico de
                    Massachusetts (MIT), bajo las órdenes del profesor Edward Norton Lorenz. Gracias a sus conocimientos
                    en matemática, a las lecciones del profesor y el gran esfuerzo que realizó para aprender varios
                    lenguajes de programación por sí misma, fue una de las encargadas en diseñar el software que
                    permitía predecir el tiempo utilizando los ordenadores LGP-30 y PDP-1.
                    Posteriormente se involucró en el proyecto SAGE, un proyecto del Laboratorio Lincon del MIT
                    desarrollado entre 1961 y 1963 que, aunque nació como un proyecto de predicción del clima,
                    rápidamente pasó a ser un proyecto militar. En aquel proyecto, Margaret fue la encargada de
                    desarrollar el software para el primer ordenador AN/FSQ-7 que buscaba aviones “no-amigos” en el
                    espacio aéreo norteamericano.
                    El gran éxito de esta misión militar permitió que Hamilton se pudiera unir al Laboratorio Charles
                    Stark Draper del MIT. En aquel momento, esta unidad estaba trabajando en lo que definitivamente
                    cambiaría la vida de Margaret: el Programa Apolo. Con unos conocimientos en programación
                    extraordinarios, Margaret pronto destacó. Fue la encargada, junto con su equipo, de diseñar parte
                    del software que hacía funcionar el Módulo de Mando y el Módulo Lunar, y probablemente, la persona
                    que evitó el fracaso de la misión. Minutos antes de que el módulo Lunar alunizara, hubo un fallo que
                    hizo saltar todas las alarmas. Gracias a que el software estaba diseñado para priorizar funciones
                    imprescindibles y descartar los que no lo eran mediante la detección precoz de errores, se evitó una
                    sobrecarga en el sistema. Según sus propias palabras “Si el ordenador no se hubiera diseñado para
                    recuperar errores, dudo que el Apolo hubiera aterrizado en la Luna”. Pero lo hizo.
                    Aprovechando los conocimientos adquiridos en la detección de errores, en 1976 cofundó la empresa
                    Higher Order Software (HOS). Posteriormente, en 1986 creó Hamilton Technologies, también dirigido a
                    la prevención de errores de software.
                    El esfuerzo de Margaret se ha visto recompensado en los innumerables premios que ha recibido a lo
                    largo de su vida. Además del Exceptional Space Act Award de la NASA, vio reconocida su labor con la
                    Medalla Presidencial de la Libertad en 2006, el mayor reconocimiento concedido a un civil en Estados
                    Unidos.
                    <a href="https://www.google.com/search?client=firefox-b-d&q=Margaret+Hamilton">Continua tu investigación de esta heroina.</a>
                </p>
            </article>
        </section>
        <aside>
            <img src="/img/Margaret_Hamilton_1995.jpg" alt="Imágen de Margaret Hamilton">
        </aside>
    </main>
    <footer>
        <ul>
                <a href="/">Home</a>
                <a href="/turing">Alan Turing</a>
                <a href="/babbage">Charles Babbage</a>
                <a href="/hamilton">Margaret Hamilton</a>
                <a href="/hopper">Grace Hopper</a>
                <a href="/lovelace">Ada Lovelace</a>
                <a href="berners-lee">Tim Berners-Lee</a>
                <a href="/clarke">Joan Clarke</a>
        </ul>
    </footer>
</body>

</html>