<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grace Hopper</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/turing">Alan Turing</a></li>
                <li><a href="/babbage">Charles Babbage</a></li>
                <li><a href="/hamilton">Margaret Hamilton</a></li>
                <li><a href="/hopper">Grace Hopper</a></li>
                <li><a href="/lovelace">Ada Lovelace</a></li>
                <li><a href="berners-lee">Tim Berners-Lee</a></li>
                <li><a href="/clarke">Joan Clarke</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>

            <h1>Grace Hopper</h1>
            <article>
                <p>
                    Grace Murray Hopper (Nueva York, 9 de diciembre de 1906 - Condado de Arlington, 1 de enero de 1992)
                    fue una científica de la computación y militar estadounidense con grado de contraalmirante. Fue la
                    creadora del COBOL y es conocida como la primera mujer "hacker" de la historia.
                    Estudió matemáticas en la Universidad de Yale, donde también obtuvo el doctorado. Se unió a las
                    fuerzas armadas y fue enviada a Harvard para completar sus estudios en ingeniería y física aplicada
                    al laboratorio de computación. Desde 1944 comenzó a trabajar con Aiken en el ordenador Mark 1 de
                    Harvard. Posteriormente se uniría a John Eckert y John Mauhly en el ordenador UNIVAC. Fue la
                    creadora del primer compilador de ordenadores en 1952. Este software revolucionario permitió la
                    primera programación automática de un lenguaje de computación. Asimismo, en 1959, inventó el COBOL
                    (Common Business Oriented Language) el primer lenguaje de programación dedicado a la administración.
                    Posteriormente trabajó en la estandarización internacional de los lenguajes de programación y
                    trabajó fuertemente en los procedimientos de validación. Mencionaba que la clave de su éxito se basó
                    en reconocer que "la mayoría de los problemas en la vida tienen más de una solución".
                    <a href="https://www.google.com/search?client=firefox-b-d&q=Grace+Hopper">Continua tu investigación de esta heroina.</a>
                </p>
            </article>
        </section>
        <aside>
            <img src="/img/Grace_M._Hopper.jpg" alt="Imágen de Grace Hopper">
        </aside>
    </main>
    <footer>
        <ul>
                <a href="/">Home</a>
                <a href="/turing">Alan Turing</a>
                <a href="/babbage">Charles Babbage</a>
                <a href="/hamilton">Margaret Hamilton</a>
                <a href="/hopper">Grace Hopper</a>
                <a href="/lovelace">Ada Lovelace</a>
                <a href="berners-lee">Tim Berners-Lee</a>
                <a href="/clarke">Joan Clarke</a>
        </ul>
    </footer>
</body>

</html>