<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- enlazado con style -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/turing">Alan Turing</a></li>
                <li><a href="/babbage">Charles Babbage</a></li>
                <li><a href="/hamilton">Margaret Hamilton</a></li>
                <li><a href="/hopper">Grace Hopper</a></li>
                <li><a href="/lovelace">Ada Lovelace</a></li>
                <li><a href="berners-lee">Tim Berners-Lee</a></li>
                <li><a href="/clarke">Joan Clarke</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Los heroes de la programación</h1>
            <article>
                <p>
                <main>
                    <section>

                        <h2>Sobre nosotros:</h2>
                        <article>
                            <p>
                                Este sitio busca mostrar de manera simple la información de las Heroínas y los Héroes
                                Tecnológicos más representativos del ámbito de la programación.
                                Así que empecemos por el principio...
                            </p>
                            <h3>¿Qué es la programación?</h3>
                        </article>
                    </section>
                    <aside>
                        <img src="/img/imagen-referencial-de-la-programación.avif"
                            alt="Imágen referencial a la programación">
                    </aside>
                    <p>
                        La programación es el proceso de crear un conjunto de instrucciones que le dicen a una
                        computadora como realizar algún tipo de tarea. Pero no solo la acción de escribir un código para
                        que la computadora o el software lo ejecute. Incluye, además, todas las tareas necesarias para
                        que el código funcione correctamente y cumpla el objetivo para el cual se escribió.
                        En la actualidad, la noción de programación se encuentra muy asociada a la creación de
                        aplicaciones de informática y videojuegos. En este sentido, es el proceso por el cual una
                        persona desarrolla un programa, valiéndose de una herramienta que le permita escribir el código
                        (el cual puede estar en uno o varios lenguajes, como C++, Java y Python, entre muchos otros) y
                        de otra que sea capaz de “traducirlo” a lo que se conoce como lenguaje de máquina, que puede
                        "comprender" el microprocesador.
                        Si es de tu interés te alentamos a que averigües más del mundo de la programación.
                        <a href="https://es.wikipedia.org/wiki/Programaci%C3%B3n">Para más información</a>
                    </p>
                    
                </main>
                <footer>
                    <ul>
                            <a href="/">Home</a>
                            <a href="/turing">Alan Turing</a>
                            <a href="/babbage">Charles Babbage</a>
                            <a href="/hamilton">Margaret Hamilton</a>
                            <a href="/hopper">Grace Hopper</a>
                            <a href="/lovelace">Ada Lovelace</a>
                            <a href="berners-lee">Tim Berners-Lee</a>
                            <a href="/clarke">Joan Clarke</a>
                    </ul>
                </footer>
</body>

</html>