<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ada Lovelace</title>
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/turing">Alan Turing</a></li>
                <li><a href="/babbage">Charles Babbage</a></li>
                <li><a href="/hamilton">Margaret Hamilton</a></li>
                <li><a href="/hopper">Grace Hopper</a></li>
                <li><a href="/lovelace">Ada Lovelace</a></li>
                <li><a href="berners-lee">Tim Berners-Lee</a></li>
                <li><a href="/clarke">Joan Clarke</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>

            <h1>Ada Lovelace</h1>
            <article>
                <p>
                    Augusta Ada King, condesa de Lovelace (Londres, 10 de diciembre de 1815-íd., 27 de noviembre de
                    1852), registrada al nacer como Augusta Ada Byron y conocida habitualmente como Ada Lovelace, fue
                    una matemática y escritora británica, célebre sobre todo por su trabajo acerca de la computadora
                    mecánica de uso general de Charles Babbage, la denominada máquina analítica.
                    A pesar de que en siglo XIX no era frecuente que las mujeres estudiasen ciencia, Ada tuvo la suerte
                    de contar con grandes maestros, como el matemático Augustus De Morgan o la astrónoma escocesa Mary
                    Somerville. Fue precisamente Sommerville quien le presentó al matemático Charles Babbage, con quien
                    trabó una gran amistad y una fructífera colaboración.
                    <a href="https://www.google.com/search?client=firefox-b-d&q=Ada+Lovelace">Continua tu investigación de esta heroina.</a>
                </p>
            </article>
        </section>
        <aside>
            <img src="/img/Ada_Lovelace.jpg" alt="Imágen de Ada Lovelace">
        </aside>
    </main>
    <footer>
        <ul>
                <a href="/">Home</a>
                <a href="/turing">Alan Turing</a>
                <a href="/babbage">Charles Babbage</a>
                <a href="/hamilton">Margaret Hamilton</a>
                <a href="/hopper">Grace Hopper</a>
                <a href="/lovelace">Ada Lovelace</a>
                <a href="berners-lee">Tim Berners-Lee</a>
                <a href="/clarke">Joan Clarke</a>
        </ul>
    </footer>
</body>

</html>