<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alan Turing</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/turing">Alan Turing</a></li>
                <li><a href="/babbage">Charles Babbage</a></li>
                <li><a href="/hamilton">Margaret Hamilton</a></li>
                <li><a href="/hopper">Grace Hopper</a></li>
                <li><a href="/lovelace">Ada Lovelace</a></li>
                <li><a href="berners-lee">Tim Berners-Lee</a></li>
                <li><a href="/clarke">Joan Clarke</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>

            <h1> Alan Turing</h1>
            <article>
                <p>
                    Alan Mathison Turing (23 de junio de 1912-7 de junio de 1954) fue un matemático, lógico, informático
                    teórico, criptógrafo, filósofo y biólogo teórico británico.

                    En 1937 publicó un célebre artículo en el que definió una máquina calculadora de capacidad infinita
                    (máquina de Turing) que operaba basándose en una serie de instrucciones lógicas, sentando así las
                    bases del concepto moderno de algoritmo. Turing describió en términos matemáticos precisos cómo un
                    sistema automático con reglas extremadamente simples podía efectuar toda clase de operaciones
                    matemáticas expresadas en un lenguaje formal determinado. La máquina de Turing era tanto un ejemplo
                    de su teoría de computación como una prueba de que un cierto tipo de máquina computadora podía ser
                    construida.

                    La Segunda Guerra Mundial ofreció un insospechado marco de aplicación práctica de sus teorías, al
                    surgir la necesidad de descifrar los mensajes codificados que la Marina alemana empleaba para enviar
                    instrucciones a los submarinos que hostigaban los convoyes de ayuda material enviados desde Estados
                    Unidos; Turing, al mando de una división de la Inteligencia británica, diseñó tanto los procesos
                    como las máquinas que, capaces de efectuar cálculos combinatorios mucho más rápidamente que
                    cualquier ser humano, fueron decisivos en la ruptura final del código.

                    Alan Turing definió además un método teórico para decidir si una máquina era capaz de pensar como un
                    hombre (test de Turing) y realizó contribuciones a otras ramas de la matemática aplicada, como la
                    aplicación de métodos analíticos y mecánicos al problema biológico de la morfogénesis. En el ámbito
                    personal, su sexualidad fue motivo constante de fuertes presiones sociales y familiares.

                    La Association for Computing Machinery otorga anualmente el Premio Turing a personas destacadas por
                    sus contribuciones técnicas al mundo de la computación. Este premio está ampliamente considerado
                    como el equivalente del Premio Nobel en el mundo de la computación.
                    <a href="https://www.google.com/search?client=firefox-b-d&q=Alan+Turing">Continua tu investigación de este heroe.</a>
                </p>
            </article>
        </section>
        <aside>
            <img src="/img/220px-Alan_Turing_Aged_16.webp" alt="Imágen de Alan Turing">
        </aside>
    </main>
    <footer>
        <ul>
                <a href="/">Home</a>
                <a href="/turing">Alan Turing</a>
                <a href="/babbage">Charles Babbage</a>
                <a href="/hamilton">Margaret Hamilton</a>
                <a href="/hopper">Grace Hopper</a>
                <a href="/lovelace">Ada Lovelace</a>
                <a href="berners-lee">Tim Berners-Lee</a>
                <a href="/clarke">Joan Clarke</a>
        </ul>
    </footer>
</body>

</html>